<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659242521472-sl4tbt6n9pb30g1i0o8lhaoldde4g1ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659242521472-sl4tbt6n9pb30g1i0o8lhaoldde4g1ad</string>
	<key>API_KEY</key>
	<string>AIzaSyC1IR9yp1h7w_hIw4bF9LtmQvQyCi3zYlE</string>
	<key>GCM_SENDER_ID</key>
	<string>659242521472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.examplesse.rememberme</string>
	<key>PROJECT_ID</key>
	<string>food-loss-and-waste</string>
	<key>STORAGE_BUCKET</key>
	<string>food-loss-and-waste.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659242521472:ios:d132db77b64d8bc9196765</string>
</dict>
</plist>